.movieDetails {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
}

.movieContent {
   padding-right: 20px; // Ajuste conforme necessário
   flex: 2;
   max-width: 900px;
   h1 {
      font-size: 2rem;
      margin-bottom: 10px;
   }

   p {
      margin: 16px 0;
   }

   button {
      padding: 10px 20px;
      background-color: blue;
      color: white;
      border: none;
      cursor: pointer;
   }
}

.ratingContainer {
   margin: 1rem 0;
}
