.pageContainer {
  padding: 24px 200px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 8rem;

  @media (max-width: 1200px) {
    padding: 0 50px;
  }
}

.headerFooterFullWidth {
  width: 100%;
}
